@import '../../colors';

$borderRadiusSmall: 12px;
$borderRadiusMedium: 15px;
$borderRadiusLarge: 25px;

$clickDistance: 3px;

button, input {
  border: none;
  outline: none;
}
/*=============Button=============*/
.button {
  background-color: $brown;
  color: $blue;
  max-width: 100%;
  margin: 10px;

  box-shadow: $clickDistance $clickDistance 0px darken( $brown, 10% );
}
.buttonSmall {
  width: 100px;
  height: 25px;
  font-size: 15px;
  border-radius: 0% $borderRadiusSmall 0% $borderRadiusSmall;
}
.buttonMedium {
  width: 120px;
  height: 30px;
  font-size: 18px;
  border-radius: 0% $borderRadiusMedium 0% $borderRadiusMedium;
}
.buttonLarge {
  width: 140px;
  height: 50px;
  font-size: 25px;
  border-radius: 0% $borderRadiusLarge 0% $borderRadiusLarge;
}
.button:hover {
  transform: translateY($clickDistance * .4) translateX($clickDistance * .4);
  box-shadow: $clickDistance * .6 $clickDistance * .6 0px darken( $brown, 10% );
  background-color: lighten($brown, 5%);
}
.button:active {
  transform: translateY($clickDistance) translateX($clickDistance);
  box-shadow: none;
}
/*================================*/
