@import '../../colors';

button {
  border: none;
}

.button {
  background-color: $brown;
  color: $blue;

  width: 120px;
  max-width: 100%;
  height: 40px;

  border-radius: 30%;
  border-top-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.button:hover {
  
}
